<h3><i class="fas fa-book-reader"></i>StoryBooks</h3>
<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>

<div class="row">
    <h5 style="float:left;margin:0">Create Account</h5>
    <form action="/signup" method="post" class="col s12"  autocomplete="off">
        <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="name">
                <label for="name">Your name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="email" id="email" name="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="password" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="password" name="confirmPassword">
                <label for="confirmPassword">Re-enter Password</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn" value="Create your account">
        </div>
    </form>
</div>

<div class="divider"></div>
<div class="section">
    <h6>Already have an account?<a href="/"> Login</a></h6>
</div>