<h3><i class="far fa-envelope"></i> Password Recover</h3>
<form action="/passwordrecover" method="POST" autocomplete="off">
    <div class="row">
        <div class="input-field">
            <input type="email" name="email" required>
            <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn green" value="Submit">
    </div>
</form>
